.App {
  text-align: center;
}

body{
  background-color: #E63946;
}

.book-card{
  background-color: white;
}

.book-area{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 40px;
  background-color: #E63946;
  width: 1000px;
  height: 100%;
  margin: auto;
  margin-top: 30px;
}

.card{
  border: 5px solid #1D3557;
  border-radius: 5px;
  background-color: #F1FAEE;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
}

.card:hover{
  animation-name: card-pop-up;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes card-pop-up{
  0%{
      box-shadow: 0px 0px #1D3557;
      transform: scale(1);
  }
  100%{
      box-shadow: 8px 8px  #1D3557;
      transform: scale(1.1);
  }
}

.new-book-btn{
  background: #F1FAEE;
  border: 5px solid #1D3557;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 30px;
}

.new-book-btn:hover{
  animation-name: button-popup;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes button-popup{
  0%{
      box-shadow: 0px 0px #1D3557;
      transform: scale(1);
  }
  100%{
      box-shadow: 5px 5px #1D3557;
      transform: scale(1.1);
  }
}

.new-book-form{
  margin-top: 30px;
}